@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}
body{
	background:url(../images/adminbk.png) no-repeat fixed center;
	margin:0 auto;
	padding:0;
	background-color:#B1BECD;
}
button{
	border:none;
	outline:none;
}
a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
#table-buton10{
width:1200px;
height:30px;
}
a:active {
text-decoration: none;
font-size: 16px;
font-weight: bold;
}
/* select {
  Chrome和Firefox里面的边框是不一样的，所以复写了一下
  border: solid 1px #000;

  很关键：将默认的select选择框样式清除
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  在选择框的最右侧中间显示小箭头图片
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;


  为下拉小箭头留出一点位置，避免被文字覆盖
  padding-right: 14px;
}


清除ie的默认选择框样式清除，隐藏下拉箭头
select::-ms-expand { display: none; } */
#select_content ul{
	list-style-type:none;
}
#select_content ul{
	float:left;
}
#select_content ul li{
	border:1px solid gray;
	text-align:center;
	padding-top:15px;
	font-size:16px;
	font-family:微软雅黑;
	width:151px;
	height:50px;
	overflow:auto;
	background-color:#1BBC9B;
	font-size:16px;
	font-family:微软雅黑;
	margin:0;
}
#select_content ul li a:link {
text-decoration: none;
}
#questionOfProject{
	height: 500px;
    overflow: auto;
	position:absolute;
	top:100px;
}
#questionOfType{
	position:absolute;
	left:152px;
	top:100px;
}

#questionOfPority{
	position:absolute; 
	left:303px;
	top:100px;
}
#questionOfStatu{
	position:absolute;
	left:454px;
	top:100px;
}
#addQuestionIcon{
}

#questionList_head{
	margin:5px auto;
	height:120px;
	width:1202px;
	padding-top:50px;
}
#question_table_head{
	margin:0px auto;
	margin-top:130px;
	width:1202px;
	padding-top:20px;
}
#question_table_head div{
	float:left;
	font-size:16px;
	font-family:微软雅黑;
}
#addQuestionTitle{
	height:50px;
	padding-top:12px;
	padding-left:48px;
	font-size:16px;
	font-family:微软雅黑;
	width:885px;
	border:1px solid gray;
	background-color:#EEEFF3;
}
#addQuestionLi{
	width:575px;
}
#addQuestionIcon{
	margin-top:-4px;
	padding-left:27px;
	width:49px;
	height:30px;
}
#addQuestionText{
	width:40px;
}
#questionData{
	background-color:#EEEFF3;
	font-size:16px;
	font-family:微软雅黑;
	height:50px;
	width:225px;
	padding-top:12px;
	padding-left:60px;
	border-top:1px solid gray;
	border-right:1px solid gray;
	border-bottom:1px solid gray;
}

#question_select{
	background-color:#1BBC9B;
	border:1px solid gray;
	width:606px;
	height:50px;
}
#question_select select{
	height:50px;
 /*    border-top-style: none; 
    border-right-style: none; 
    border-left-style: none; 
    border-bottom-style: none; */
	background-color:#1BBC9B;
	height:30px;
	width:60px;
}
#question_find{
	background-color:#1BBC9B;
	width:328px;
	margin-left:175px;
	height:50px;
	border-radius: 6px;
}
#findTitle{
	height:50px;
	width:250px;
	font-size:16px;
	font-family:微软雅黑;
	padding-left:10px;
	float:left;
}
#findTitle div{
	float:left;
}
#findTitle div input{
	width:267px;
	background-color:#1BBC9B;
	height:50px;
	border-width:0px;
	outline:none;
}
#findIcon{
	padding-top:10px;
	height:50px;
	width:78px;
	padding-left:37px;
}
#questionList_head div{
	float:left;
}
.li_head{
	border:1px solid gray;
	width:151px;
	height:49px;
}
.li_title{
	width:85px;
	height:49px;
	padding-left:52px;
	padding-top:11px;
	font-size:16px;
	font-family:微软雅黑;
}
.li_icon_project,.li_icon_type,.li_icon_pority,.li_icon_statu{
	background:url(../images/liIconWhite.png) no-repeat 10px 20px;
	height:49px;
	width:54px;
}
#table_heads div{
	float:left;
}
#table_heads{
	height:80px;
	width:1200px;
	border:1px solid red;
}
#table_contents{
	width:1200px;
	height:600px;
	border:1px solid red;
}
#table_contents div{
	float:left;
}
#table_content{
	width:885px;
	height:600px;
	background-color:white;
	border-left:1px solid gray;
	border-right:1px solid gray;
	border-bottom:1px solid gray;
}
#questionList_content{
	width:1202px;
	margin:0 auto;
}
#questionList_content div{
	float:left;
}
#table-buton10{
	float:right;
}
#dataShow{
	padding-left:20px;
	height:600px;
	width:225px ! important;
	background-color:white;
	color:black ! important;
}
#dataShow span{
	color:black ! important;
}
#dataShow div{
	margin-top:13px;
}
#questionsPageCode{padding: 15px 20px;text-align: left;color: #ccc; width:864px;padding-left:440px;}
#questionsPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}

#questionsPageCode a:hover{text-decoration: none;border: 1px solid #428bca;}
#questionsPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #428bca;	border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;}
#questionsPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}
/*问题增加页面样式*/


.addinput_question{
	margin:25px 90px;
	height:50px;
	width:600px;
}
.addinput_question div{
	float:left;
}
.addinput_question input{
	margin-left:20px;
	height:32px;
	width:300px;
}
#addcontent_question{
	background:url(../images/border.png) no-repeat;
	background-size:100% 100%;
	height:100%;
	width:1000px;
	margin:30px auto;
	
}

#message_head{
	background:url(../images/itemUploadIcon.png) no-repeat 4px 0px;
	padding-left:20px;
	height:30px;
	font-size:18px;
	margin-left:100px;
	width:800px;
	border-bottom: 1px solid gray;
	font-family:微软雅黑;
	margin-bottom:20px;
}
#usericon{
	width:70px;
    height:70px;
    overflow:hidden;
    border-radius:53px;
    border:1px solid gray;
    background:url(../images/bkCircle.png) no-repeat;
}
#message_leave{
	height:800px;
	margin-top:160px;
}
#usernamessss{
	padding-top:18px;
	font-size:16px;
	width:654px;
	font-family:微软雅黑;
	padding-left:20px;
}
#usercontent{
	font-size:16px;
	font-family:微软雅黑;
	width:654px;
	padding-left:20px;
	padding-top: 9px;
}
#message_area{
	width:807px;
	height:80px;
	margin-left:95px;
	margin-top:90px;
}
#message_area div{
	float:left;
}
#message_content{
	width:860px;
	margin-left:72px;
	overflow:auto;
    overflow-x: hidden;
	height:400px; 
}
#message_content div{
	float:left;
}
#userIntro{
	height:75px;
	margin-left:28px;
	width:799px;
	border-bottom:1px solid gray;
}
#inputtype{
	width:300px;
	height:31px;
	margin-left:16px;
}
#inputdetail{
	width:299px;
	height:64px;
	margin-left:21px;
	resize: none;
}

#messageImg{
	background:url(../images/bkOfmessage.png) no-repeat 4px;
	opacity: 0.7;
	width:41px;
	margin-right:10px;
	height:43px;
	border:1px solid gray;
	border-radius: 20px;
}
#messageArea{
	width:690px;
	height:43px;
	border:1px solid gray;
}
#messageText{
	margin-left:10px;
	font-size:17px;
	font-family:微软雅黑;
	text-align:center;
	padding-top:9px;
	width:52px;
	height:43px;
	border:1px solid gray;
}
#imageMessage{
    border-radius: 35px;
    width: 70px;
    height: 70px;
    border: 1px solid gray;
    overflow:hidden;
}
imageMessage img{
	border-radius: 35px;
}
#imgMessge{
	opacity:0;
	width:40px;
	height:43px;
}
#messageUsername{
	width:654px;
	height:70px;
}
#action{
    text-align: center;
    padding-top: 43px;
	height:70px;
	width:75px;
	font-family:微软雅黑;
	font-size:16px;
}

#addcontent_message{
	background:url(../images/border.png) no-repeat;
	background-size:100% 100%;
	height:338px;
	width:684px;
	margin:30px auto;
}
#addhead_message{
	padding-left:10px;
	margin:0 auto;
	height:51px;
	width:596px;
	border-bottom:1px solid #999;
}
.addinput_message{
	margin:79px 50px;
}
.addinput_message input{
	margin-left:20px;
	height:32px;
	width:300px;
}

.addinput_message span{
	font-size:18px;
	
}
.addinput_message .addbutton{
	width:70px;
	height:32px;
	float:left;
}
#addquestionbody{
	margin:20px auto;
	text-align:center;
	height:720px;
	width:600px;
}
.addquestionSelect{
	width:299px;
	height:34px;
	margin-left:20px;
}
.autocut {  
    width:350px ! important;  
    overflow:hidden;  
    white-space:nowrap;  
    text-overflow:ellipsis;  
    -o-text-overflow:ellipsis;  
    -icab-text-overflow: ellipsis;  
    -khtml-text-overflow: ellipsis;  
    -moz-text-overflow: ellipsis;  
    -webkit-text-overflow: ellipsis;  
}  