/*工程资料css*/
 #mulu{
	width:1200px;
 	height:800px;
 	margin:20px auto;
 }
 #mulu div{
 	float:left;
 }
 .imgs{
  width:65px;
  margin-right:73px;
  padding-left:45px;
 }
 #contents{
 	width:160px;
 	height:100px;
 	margin-bottom:48px;
 }
 #contents div{
 	float:left;
 }
 .text{
    width:150px;
 	margin-right:73px;
 	text-align:center;
 }
 #mulu div img{
 	margin-bottom:28px;
 }
 #pfPageCode{padding: 15px 20px;text-align: left;color: #ccc;}
#pfPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
#pfPageCode a:hover{text-decoration: none;border: 1px solid #428bca;}
#pfPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #428bca;	border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;}
#pfPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}