
<div id="projectDetail">
	<div style="display:none"><span>{{projectTitle}}</span></div>
	<input type="hidden" ng-model="projectid"/>
	<div id="project_body">
		<div ng-include="'page/project/html/projectSelfInfo.html'" id="projectSelfInfoAdd" style="margin-top:15px;"></div>
		<div ng-include="'page/project/html/uploadProjectItem.html'"  id="projectItemInfoAdd" style="margin-top:15px;display:none" ></div>
		<div ng-include="'page/project/html/uploadProjectPaper.html'"  id="projectPaperInfoAdd" style="margin-top:15px;display:none" ></div>
		<div ng-include="'page/project/html/uploadProjectVideo.html'"  id="projectVideoInfoAdd" style="margin-top:15px;display:none" ></div>
	</div>
</div>




<!-- <div id="questionContent">
	<div id="projectDetail_body_question">
			    <div id="questionList_head">
			    	<div id="question_select">
			    		<div id="select_content">
			    			<select></select>
			    			<select>
			    				<option value="1">质量</option>
			    				<option value="0">安全</option>
			    				<option value="2">其他</option>
			    			</select>
			    			<select>
			    				<option value="0">一般</option>
			    				<option value="1">重要</option>
			    				<option value="2">紧急</option>
			    			</select>
			    			<select>
			    				<option value="1">已解决</option>
			    				<option value="0">未解决</option>
			    			</select>
			    		</div>
			    	</div>
			    	<div id="question_find">
			    		<div><input type="text" id="paperList_find"></div>
			    		<div id="findIcon"></div>
			    	</div>
			    </div>
				<div id="question_content">
					<div id="table_heads">
						<div id="table_head">
							<div id="table_title"></div>
							<div id="addQuestion">新建</div>
						</div>
						<div id="dataTotal"></div>
					</div>
					<div id="table_contents">
						<div id="questionTbodyContent">
							<table class="table-striped table table-bordered">
								<tbody>
									<tr>
										<th ng-repeat="questionTitle in questionTitles">{{questionTitle}}</th>
									</tr>
									<tr ng-repeat = "question in projectQuestionList">
									    <td>{{$index+1}}</td>
										<td>{{projectQuestionOfType[question.questionType].name}}</td>
										<td>{{question.userId}}</td>
										<td>{{question.name}}</td>
										<td>{{question.trades}}</td>
										<td>{{question.intro}}</td>
										<td>{{question.questionDate}}</td>
										<td>{{projectQuestionOfPriority[question.priority].name}}</td>
										<td>{{projectQuestionOfStatus[question.state].name}}</td>
										<td class="tds" >
					                        <button id="editbutton" ng-click="questionChangeClick(question.id)">
					                        </button>
					                        <button id="deletebutton" ng-click="deleteQuestion(question.id)">
					                        </button>
					                    </td>
									</tr>
									
								</tbody>
							</table>
							<div id="table-buton4" >
								<div id=questionPageCode></div>
							</div>
						</div>
						<div id="imagData" style="width:200px;height:500px;">
							<div id="jijin"></div>
							<div id="zhongyao"></div>
							<div id="yiban"></div>
						</div>
					</div>
				</div>
	</div>
</div>  -->

<!-- <div id="myStat" data-dimension="250" data-text="60%" data-info="New Clients" data-width="30" data-fontsize="38" data-percent="60" data-fgcolor="#61a9dc" data-bgcolor="#eee" data-fill="#ddd"></div>

<script>
$( document ).ready(function() {
		$('#myStat').circliful();
    });
</script> -->