
	<div id="addcontent" ng-controller="CodeInformationController">
		<div id="codecontent">
			<div id="codecontent1" class="filePaper" style="display:block">
		        <div class="addcodehead">
		       		<div id="addusertitle"><span>{{titlePaper}}</span></div>
		    	</div>
		    	<div id="codebody">
			       	<div class="paperCode">
			       		<div style="width:125px;height:125px;"><a href="#" ng-click="getPapers('建筑')"><img src="page/user_project/images/jianzhu.png" width="87px" height="118px"/></a></div>
			       		<div><span>建筑</span></div>
			       	</div>
			       	<div class="paperCode">
			       		<div style="width:125px;height:125px;"><a href="#" ng-click="getPapers('暖通')"><img src="page/user_project/images/nuantong.png" width="87px" height="118px"/></a></div>
			       		<div><span>暖通</span></div>
			       	</div>
			       	<div class="paperCode">
			       		<div style="width:125px;height:125px;"><a href="#" ng-click="getPapers('给排水')"><img src="page/user_project/images/paishui.png" width="87px" height="118px"/></a></div>
			       		<div><span>给排水</span></div>
			       	</div>
			       	<div class="paperCode">
			       		<div style="width:125px;height:125px;"><a href="#" ng-click="getPapers('消防')"><img src="page/user_project/images/xiaofang.png" width="87px" height="118px"/></a></div>
			       		<div><span>消防</span></div>
			       	</div>
			       	<div class="paperCode">
			       		<div style="width:125px;height:125px;"><a href="#" ng-click="getPapers('电气')"><img src="page/user_project/images/dianqi.png" width="87px" height="118px"/></a></div>
			       		<div><span>电气</span></div>
			       	</div>
		       </div>
		    </div>
		    <div id="codecontent1" style="display:none" class="paperDetail jianzhuimg">
		        <div class="addcodehead">
		       		<div id="addusertitle">
		       			<span>{{titlePaper}}</span>
	       			</div>
		       		<div id="returnuser" style="margin-left: 666px;">
	            		<a href="" ng-click="returnPaperList()"><span>返回图纸列表</span></a>
          			</div>
		    	</div>
		    	<div id="codebody">
			       	<div class="paperCode" ng-repeat="paper in codePapers">
			       		<div><a href="#"><img src="{{paper.url}}" width="117px" height="119px" onclick="showOneBig(this)"/></a></div>
			       		<div><span>{{paper.originName}}</span></div>
			       	</div>
			       	
		       </div>
		       <div id="table-buton6" >
					<div id="paperPageCode" style="padding-left:700px;"></div>
		       </div>
		    </div>
		    
		    
		    <div id="codecontent2" class="fileVideo" style="display:block">
		       <div class="addcodehead">
		       		<div id="addusertitle"><span>{{titleVideo}}</span></div>
		       </div>
		       <div id="codeOfbody1">
			       	<div class="videoCode">
			       		<div><a href="#" ng-click="getVideos('安全')"><img src="page/user_project/images/anquan.png" width="87px" height="118px"/></a></div>
			       		<div><span>安全交底</span></div>
			       	</div>
			       	<div class="videoCode">
			       		<div><a href="#" ng-click="getVideos('质量')"><img src="page/user_project/images/zhiliang.png" width="87px" height="118px"/></a></div>
			       		<div><span>质量交底</span></div>
			       	</div>
			       	<div class="videoCode">
			       		<div><a href="#" ng-click="getVideos('技术')"><img src="page/user_project/images/jishu.png" width="87px" height="118px"/></a></div>
			       		<div><span>技术交底</span></div>
			       	</div>
			       	
		       </div>
		    </div>
		    <div id="codecontent2" style="display:none;margin-top:0px" class="videoDetail" >
		       <div class="addcodehead">
		       		<div id="addusertitle"><span>{{titleVideo}}</span></div>
		       		<div id="returnuser" style="margin-left:615px;">
	            		<a href="" ng-click="returnVideoList()"><span>返回交底视频列表</span></a>
          			</div>
		       </div>
		       <div id="codeOfbody1">
			       	<div class="videoCode">
			       		<div><img src="page/user_project/images/anquan_shipin.png" width="117px" height="119px" onclick="showOneBig(this)"/></div>
			       		<div><span>视频：大型设备吊装施工工艺</span></div>
			       	</div>
			       	<div class="videoCode">
			       		<div><img src="page/user_project/images/anquan_shipin1.png" width="117px" height="119px" onclick="showOneBig(this)"/></div>
			       		<div><span>视频：防雷接地施工工艺</span></div>
			       	</div>
			       	<div class="videoCode">
			       		<div><img src="page/user_project/images/anquan_shipin2.png" width="117px" height="119px" onclick="showOneBig(this)"/></div>
			       		<div><span>视频：风管安装施工工艺</span></div>
			       	</div>
			       	<div class="videoCode">
			       		<div><img src="page/user_project/images/1482193964.png" width="117px" height="119px" onclick="showOneBig(this)"/></div>
			       		<div><span>文档：机电安装施工工艺图册(电气)</span></div>
			       	</div>
			       	<div class="videoCode">
			       		<div><img src="page/user_project/images/1482193940.png" width="117px" height="119px" onclick="showOneBig(this)"/></div>
			       		<div><span>文档：机电安装施工工艺图册(给排水)</span></div>
			       	</div>
			       	<div class="videoCode">
			       		<div><img src="page/user_project/images/1482193929.png" width="117px" height="119px" onclick="showOneBig(this)"/></div>
			       		<div><span>文档：机电安装施工工艺图册(暖通)</span></div>
			       	</div>
			       	<div class="videoCode">
			       		<div><img src="page/user_project/images/1482193882.png" width="117px" height="119px" onclick="showOneBig(this)"/></div>
			       		<div><span>文档：机电安装施工工艺图册(策划)</span></div>
			       	</div>
		       </div>
		    </div>
        </div>
	</div>
<script>
	function showOneBig(scope){
		
	layer.ready(function(){ 
	  layer.open({
  		type: 1,
  		title: false,
  		area: ['600px', '360px'],
  		shadeClose: true, //点击遮罩关闭
  		content: '<div style="background-size: 100% 100%;width:600px;height:360px;background-image: url(' +scope.src+')"/></div>'
  	  });
	});




}
</script>