

	<div id="addcontent_question">
	<div ng-include="'page/project/html/addMessage.html'" style="display:none;position:absolute; top:700px; left:170px; z-index:2;" id="addMessageHtml"></div>
        <div id="addhead">
        	<div id="addusertitle"><span>问题详情</span></div>
            <div id="returnuser">
            	<a href="" ng-click="returnQuestionlists()"><span style="color:#86B5D7">返回问题列表</span>
            	</a>
            	<!-- <div  style="float:right;margin-left:10px;">
            		<a href="" ng-click="hideAddQuestionHtmls()"><img src="page/project/images/deleteIcon.png"></a>
            	</div> -->
           	</div>
        </div>
        <div id="addquestionbody">
        	
        	<div class="addinput_question" style="display:none;">
        		<div><span>问题编号:</span></div>
        		<div><input type="text" ng-model="findQuestionInfo.id" id="inputname" /></div>
            </div>
            <div class="addinput_question">
        		<div><span>问题名称:</span></div>
        		<div><input type="text" ng-model="findQuestionInfo.name" id="inputpassword" /></div>
            </div>
            <div class="addinput_question">
            	<div><span>所属专业:</span></div>
            	<div><input type="text"  id="inputnick" ng-model="findQuestionInfo.trades" /></div>
            </div>
            <div class="addinput_question">
            	<div>
            		<span>问题类型:</span>
            		<select type="text" ng-model="findQuestionInfo.questionType" id="inputtype">
						<option value="0" selected="selected"><span>安全</span></option>
						<option value="1"><span>质量</span></option>
						<option value="2"><soan>其他</soan></option>
        			</select>
            	</div>
            </div>
            <div class="addinput_question">
            	<div><span>问题详情:</span></div>
            	<div><textarea id="inputdetail" ng-model="findQuestionInfo.intro"></textarea></div>
            </div>
            <div class="addinput_question">
            	<div><span>现场图片:</span></div>
            	<div><input type="file" id="inputicon"/></div>
            </div>
            <div class="addinput_question">
            	<div><span>查看二维码:</span></div>
            	<div><input type="file" id="inputicon"/></div>
            </div>
            <div id="addbutton" style="margin-top:86px;">
            	<input class="btn btn-default" type="button" ng-click="addQuestionByAdmin()" value="确定" />
                <input type="button" ng-click="resetQuestion()" class="btn btn-default" value="重置" />
            </div>
        </div>
        
	</div>
