
<div id="suggestion">
	<div id="addcontent">
        <div id="addhead">
        	<div id="addusertitle"><span>意见反馈</span></div>
        </div>
        <div id="adduserbody">
        	<div>
        		<div><span>您宝贵的意见：</span><textarea id="suggestContent"></textarea></div>
        	</div>
            <div id="addbutton" style="margin-top:86px;">
            	<input class="btn btn-default" type="button" ng-click="addSuggestion()" value="提交" />
                <input type="button" ng-click="resetSuggestion()" class="btn btn-default" value="重置" />
            </div>
        </div>
	</div>
</div>
	
