<div ng-controller="HeaderController">
	 
	 	<div id="headBackground">
	 	</div>
	 	<div id="home_head">
		 	<div class="container">
			 	<div id="content">
			 		<ul class="nav navbar-nav" id="head_home_ul">
		                    <li class= "collapse-li-main" ng-repeat="headerItem in headerItems">
		                        <a href="{{headerItem.page}}" id="menutext">{{headerItem.name}}</a>
		                    </li>
		            </ul>
		            <div id="portrait">
							<a href="#"><img src="{{userIcon}}" id="portrait_image"/></a><span>{{userName}}</span><a href="" ng-click="logout()" class="glyphicon glyphicon-off" id="out_login"></a>
				    </div>
			 	</div>
		 	</div>
	 	</div>
	 	
</div> 