<div ng-controller="HeaderController">
		<div class="wrap">
		  <!--   头部 -->
		    <div class="head">
		        <div class="logo">
		           <img src="images/logo.png" alt=""><span></span><span>嘉实智慧安装</span>
		        </div>
		        <!-- 导航 -->
		        <div class="nav">
		            <ul>
		                <li ng-repeat="headerItem in headerItems" ng-click="headCssChange($index)"><a ng-click="goPage(headerItem.page,$index)" class="active">{{headerItem.name}}</a></li>
		                <li><button ng-click="goLogin()">登录</button></li>
		            </ul>
		        </div>
		    </div>
		</div>
<script>
//    导航
    $(".nav ul li a").on('click',function () {
        $(".nav ul li a").removeClass('active')
        $(this).addClass('active')
    });
</script>
	 
	 	<!-- <div id="headBackground">
	 	</div>
	 	
	 	<div id="home_head">
		 	<div class="container">
			 	<div id="content">
			 		<ul id="head_home_ul" >
		                    <li ng-repeat="headerItem in headerItems" ng-click="headCssChange($index)" class="head_li">
		                        <a ng-click="goPage(headerItem.page,$index)" id="menutext">{{headerItem.name}}</a>
		                    </li>
		            </ul>
		            <div id="portrait">
							<a href="#"><img src="{{userIcon}}" id="portrait_image"/></a><span>{{userName}}</span><a href="" ng-click="logout()" class="glyphicon glyphicon-off" id="out_login"></a>
				    </div>
			 	</div>
		 	</div>
	 	</div>  -->
	 	
</div> 