<div id="videoContent">
	<div id="projectDetail_body_videos">
		<div id="video_menu">
			<div id="video_contents">
				<div id="item_menuli_first">
					<div><span>专业</span></div>
					<div><button class="btn btn-default phase_video" ng-click="setPhase('all',flag[4])">全部</button></div>
					<div ng-repeat="phase in projectVideoType"><button class="btn btn-default phase_video" ng-click="setPhase($index,flag[4])">{{phase.name}}</button></div>
				</div>
				<div class="item_menuli_video">
					<div><span>栋号</span></div>
					<div><button class="btn btn-default buildingNum_video" ng-click="setBuildingNum('all',flag[4])">全部</button></div>
					<div ng-repeat="buildingNumber in buildingArray">
						<select class="myselect buildingNum_video" type="text" ng-change="setBuildingNum(building[$index],flag[4])"  ng-model="building[$index]">
	    					<option value="title" >#{{$index*10+1}} -#{{$index*10+10}}</option>
	    					<option value="{{number}}" ng-repeat="number in buildingNumber" >#{{number}}</option>
	    				</select>
    				</div>
				</div>
			</div>
			<div id="video_buttons">
				<div id="video_content">
					<table class="table-striped table table-bordered">
						<tbody>
							<tr>
								<th ng-repeat="videoTitle in videoTitles">{{videoTitle}}</th>
							</tr>
							<tr ng-repeat = "projectVideo in videoList">
							    <td>{{$index+1}}</td>
							    <!-- <td>{{projectVideo.name}}</td> -->
								<td>{{projectVideo.originName}}</td>
								<td>{{projectVideo.buildingNum}}</td>
								<td>{{projectVideoType[projectVideo.professionType].name}}</td>
								<td class="tds" >
			                        <a href="{{projectVideo.url}}" target="_blank" download="{{projectVideo.originName}}">
				                         <button id="uploadbutton">
			                        	</button>
			                        </a>
			                    </td>
							</tr>
						</tbody>
					</table>
					<div id="quantityAction">
							<div id="quantityImport">
								<!-- <div><select id="videoType">
									<option value="0">视频</option>
									<option value="1">文本文档</option>
								</select></div> -->
								<div id="imgBiangen"><a href="#" id="quantity_button" ng-click="importVideo()">交底上传</a></div>
								<div id="biangeng_file"><input type="file" id="video_import" multiple="multiple"/></div>
							</div>
					</div>
					<div id="table-buton5" >
						<div id="videoPageCode"></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>