<div id="paperContent">
	<div id="projectDetail_paperupload">
				<div id="paper_headerss">
					<div class="paper_menuli_upload">
						<div><span>栋号</span></div>
						<div ng-repeat="buildingNumber in buildingNumArray">
							<select class="myselect" id="buildingN" type="text" ng-change="setBuildingNumber(buildingVideoB[$index])"   ng-model="buildingVideoB[$index]">
		    					<option value="title" selected>#{{$index*10+1}} -#{{$index*10+10}} </option>
		    					<option value="{{number}}" ng-repeat="number in buildingNumber">#{{number}}</option>
		    				</select>
	    				</div>
						
					</div>
					<div class="paper_menuli_upload">
						<div><span>楼层</span></div>
						<div ng-repeat="floorNumber in floorNumArray">
							<select class="myselect" id="floorN" type="text" ng-change="setFloorNumber(buildingVideoF[$index])"   ng-model="buildingVideoF[$index]">
		    					<option value="title" selected>F{{$index*10+1}} -F{{$index*10+10}}</option>
		    					<option value="{{numbers}}" ng-repeat=" numbers in floorNumber">F{{numbers}}</option>
		    				</select>
	    				</div>
					</div>	
					
				</div>
				<div id="paper_contents">
					<div id="paperlist">
						<div><span>电气专业&nbsp&nbsp&nbsp</span></div>
						<div><input type="file" id="paper_dianqi" /></div>
					</div>
					<div id="paperlist">
						<div><span>暖通专业&nbsp&nbsp&nbsp</span></div>
						<div><input type="file" id="paper_nuantong" /></div>
					</div>
					<div id="paperlist">
						<div><span>给排水专业</span></div>
						<div><input type="file" id="paper_geipaishui" /></div>
					</div>
					<div id="paperlist">
						<div><span>消防专业&nbsp&nbsp&nbsp</span></div>
						<div><input type="file" id="paper_xiaofang" /></div>
					</div>
				</div>
				<div id="paper_button">
					<button type="button" class="btn btn-default" ng-click="uploadPaperFile()">上传</button>
					<button type="button" class="btn btn-default" ng-click="resetPaperFile()">取消</button>
				</div>
	</div>
</div>