html, body, div, nav, section, footer, p, h1, h2, h3, h4, h5, h6, span, img, a,
ul, li, ol, dl, dd, dt, /*table, th, tr, td,*/ form, input, select, option, textarea,
button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    /*vertical-align: top;*/ }

ul, li {
    list-style: none; }

a {
    text-decoration: none; }

.clear:after {
    width: 0;
    height: 0;
    content: '';
    display: block;
    clear: both; }

.wrap {
    width: 100%;
}
.wrap .headMain{
    background: #eeeeee;
}
.wrap .headMain .head {
    width: 1200px;
    height: 80px;
    display: flex;
    margin: 0 auto; }
.wrap .headMain .head .logo {
    flex: 1.5; }
.wrap .headMain .head .logo img {
	margin-bottom: 73px;
    padding: 12px 0; }
.wrap .headMain .head .logo span:nth-child(2) {
    display: inline-block;
    width: 1px;
    height: 36px;
    background: #aaaaaa;
    margin: 22px 15px; }
.wrap .headMain .head .logo span:nth-child(3) {
    font-size: 30px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    display: inline-block;
    margin: 20px 0;
    vertical-align: top; }
.wrap .headMain .head .nav {
    height: 80px;
    flex: 4;
    z-index: 999;
}


.wrap .headMain .head .nav .navMenu {
    width: 100%;
    height: 80px;
    /*margin-top: 30px;*/
    /*overflow: hidden;*/
    display: flex; }
.wrap .headMain .head .nav .navMenu>li {
    position: relative;
    float: left;
    flex: 1;
    text-align: center;
    line-height: 80px;
}
.wrap .headMain .head .nav .navMenu li a {
    font-size: 16px;
    color: #000;
    padding: 5px 0;
    font-family: "Microsoft YaHei"; }
.wrap .headMain .head .nav .navMenu li a.active {
    border-bottom: 3px solid #009944; }
.wrap .head .nav .navMenu > li:hover > a {
    border-bottom: 3px solid #009944; }

.submenu{
    position:absolute;
    top:80px;
    left:28px;
    width:100px;
    /*height:124px;*/
    background:#eee;
    visibility:hidden;
    z-index: 999;
}
.wrap .head .nav .navMenu li .submenu li{
    line-height: 50px;
}
.wrap .head  .nav ul>li:hover .submenu{
    visibility:visible;
}
.wrap .head .nav .navMenu li .submenu li:hover{
    background: #009944;
}
.wrap .head .nav .navMenu li .submenu li:hover a{
    color: #fff;
}
.wrap .head .nav .navMenu li .submenu li a{
    text-align:center;}
.wrap .headMain .head .login {
    height: 80px;
    flex: 0.4;
    font-size: 12px;
    color: #fff;
    background: #aaa;
    cursor: pointer;
}
.wrap .headMain .head .login div:nth-child(1){
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
}
.wrap .headMain .head .login div:nth-child(1) img {
    width: 100%;
    margin-top: 5px;
}
.wrap .headMain .head .login div:nth-child(2){
    margin-top: 10px;
}
.wrap .headMain .head .login div{
    text-align: center;
    color: #ffffff;
}
.wrap .checkDutyCon {
    width: 1200px;
    margin: 50px auto;
    font-family: "Regular";
    overflow: hidden;
    border-bottom: 1px solid #aaa;
}
.wrap .checkDutyCon ul li div {
    color: #aaa;
}
.wrap .liuCheng {
    width: 1200px;
    margin: 0 auto;
}
.wrap .liuCheng ul li {
    padding: 40px;
    display: flex;
    border-bottom: 1px solid #aaa;
}
.wrap .liuCheng ul li .left {
    text-align: center;
    flex: 1;
    background: #eee;
}
.wrap .liuCheng ul li .left h3 {
    padding: 20px;
    margin-top: 10px;
    font-size: 18px;
}
.wrap .liuCheng ul li .left div {
    padding: 10px;
}
.wrap .liuCheng ul li .left div:last-child {
    margin-bottom: 10px;
}
.wrap .liuCheng ul li .right {
    flex: 4;
    padding-top: 30px;
    padding-left: 100px;
}
/*# sourceMappingURL=index.css.map */
