<!DOCTYPE html> 
<html lang="en"  ng-app="ItemApp"> 
	<head> 
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
<!--jquery && bootstrap-->
    <script src="common/jquery/jquery.js"></script>
    <script src="common/jquery/jquery-1.11.1.js"></script>
<!--angular-->
    <script src="common/angular/angular.js"></script>
    <script src="common/angular/angular-route.js"></script>
    <script src="common/angular/angular-file-upload.min.js"></script>
<!-- css -->
    <link href="user_project/css/itemStyle.css" rel="stylesheet" />    
<!-- js -->
	<script src="project/scripts/itemInfoController.js"></script>
	<script src="project/scripts/itemInfoService.js"></script>
	</head>
	<body>
		<div id="content" ng-controller="itemInfoController">
			<div id="head">
				<div><h1>构件信息详细列表</h1></div>
			</div>
			<div id="con">
				<div id="cons">
					<div ng-if="itemInfo.projectName!=null && itemInfo.projectName!=''">
						<div class="context"><span>所属项目</span></div>
						<div class="cont">{{itemInfo.projectName}}</div>
					</div>
					<div ng-if="itemInfo.selfId!=null && itemInfo.selfId!=''">
						<div class="context"><span>构件编号</span></div>
						<div class="cont">{{itemInfo.selfId}}</div>
					</div>
					<div ng-if="itemInfo.name!=null && itemInfo.name!=''">
						<div class="context"><span>构件名称</span></div>
						<div class="cont">{{itemInfo.name}}</div>
					</div>
					<div ng-if="itemInfo.familyAndType!=null && itemInfo.familyAndType!=''">
						<div class="context"><span>类型标准</span></div>
						<div class="cont">{{itemInfo.familyAndType}}</div>
					</div>
					<div ng-if="itemInfo.level!=null && itemInfo.level!=''">
						<div class="context"><span>标高</span></div>
						<div class="cont">{{itemInfo.level}}</div>
					</div>
					<div ng-if="itemInfo.typeName!=null && itemInfo.typeName!=''">
						<div class="context"><span>类型名称</span></div>
						<div class="cont">{{itemInfo.typeName}}</div>
					</div>
					<div ng-if="itemInfo.offset!=null && itemInfo.offset!=''">
						<div class="context"><span>偏移量</span></div>
						<div class="cont">{{itemInfo.offset}}</div>
					</div>
					
					<div ng-if="itemInfo.buildingNum!=null && itemInfo.buildingNum!=''">
						<div class="context"><span>所属楼栋号</span></div>
						<div class="cont">{{itemInfo.buildingNum}}</div>
					</div>
					<div ng-if="itemInfo.floorNum!=null && itemInfo.floorNum!=''">
						<div class="context"><span>所属楼层</span></div>
						<div class="cont">{{itemInfo.floorNum}}</div>
					</div>
					<div ng-if="itemInfo.familyAndType!=null && itemInfo.familyAndType!=''">
						<div class="context"><span>familyAndType</span></div>
						<div class="cont">{{itemInfo.familyAndType}}</div>
					</div>
					<div ng-if="itemInfo.systemType!=null && itemInfo.systemType!=''">
						<div class="context"><span>系统类型</span></div>
						<div class="cont">{{itemInfo.systemType}}</div>
					</div>
					<div ng-if="itemInfo.serviceType!=null && itemInfo.serviceType!=''">
						<div class="context"><span>设备类型</span></div>
						<div class="cont">{{itemInfo.serviceType}}</div>
					</div>
					<div ng-if="itemInfo.size!=null && itemInfo.size!=''">
						<div class="context"><span>尺寸</span></div>
						<div class="cont">{{itemInfo.size}}</div>
					</div>
					<div ng-if="itemInfo.material!=null && itemInfo.material!=''">
						<div class="context"><span>材质</span></div>
						<div class="cont">{{itemInfo.material}}</div>
					</div>
					<div ng-if="itemInfo.length!=null && itemInfo.length!=''">
						<div class="context"><span>长度</span></div>
						<div class="cont">{{itemInfo.length}}</div>
					</div>
					<div ng-if="itemInfo.area!=null && itemInfo.area!=''">
						<div class="context"><span>面积</span></div>
						<div class="cont">{{itemInfo.area}}</div>
					</div>
					<div ng-if="itemInfo.installUser!=null && itemInfo.installUser!=''">
						<div class="context"><span>安装人员</span></div>
						<div class="cont">{{itemInfo.installUser}}</div>
					</div>
					<div ng-if="itemInfo.installUnit!=null && itemInfo.installUnit!=''">
						<div class="context"><span>安装单位</span></div>
						<div class="cont">{{itemInfo.installUnit}}</div>
					</div>
					<div ng-if="itemInfo.itemBrand!=null && itemInfo.itemBrand!=''">
						<div class="context"><span>构件品牌</span></div>
						<div class="cont">{{itemInfo.itemBrand}}</div>
					</div>
					<div ng-if="itemInfo.installDate!=null && itemInfo.installDate!=''">
						<div class="context"><span>安装时间</span></div>
						<div class="cont">{{itemInfo.installDate}}</div>
					</div>
					<!-- <div>
						<div class="context"><span>构件名称</span></div>
						<div class="cont"></div>
					</div> -->
				</div>
			</div>
		</div>
	</body>
</html>