<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.1.xsd">
    <import resource="applicationContext-task.xml"/>
    <!-- 缓存配置 -->  
    <!-- 启用缓存注解功能(请将其配置在Spring主配置文件中) -->  
   <!--  <cache:annotation-driven cache-manager="cacheManager"/>   -->
    <!-- Spring自己的基于java.util.concurrent.ConcurrentHashMap实现的缓存管理器(该功能是从Spring3.1开始提供的) -->  
    <!--   
    <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">  
        <property name="caches">  
            <set>  
                <bean name="myCache" class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"/>  
            </set>  
        </property>  
    </bean>  
    xmlns:cache="http://www.springframework.org/schema/cache"  
     http://www.springframework.org/schema/cache  
            http://www.springframework.org/schema/cache/spring-cache-3.1.xsd   
     -->  
    <!-- 若只想使用Spring自身提供的缓存器,则注释掉下面的两个关于Ehcache配置的bean,并启用上面的SimpleCacheManager即可 -->  
    <!-- Spring提供的基于的Ehcache实现的缓存管理器 -->  
   <!--  <bean id="cacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">  
        <property name="configLocation" value="classpath:ehcache.xml"/>  
    </bean>  
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">  
        <property name="cacheManager" ref="cacheManagerFactory"/>  
    </bean>   -->
	<!-- 配置RestTemplate -->
    <!--Http client Factory -->
    <bean id="httpClientFactory"
        class="org.springframework.http.client.SimpleClientHttpRequestFactory">
        <property name="connectTimeout" value="10000" />
        <property name="readTimeout" value="10000" />
    </bean>

    <!--RestTemplate -->
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <constructor-arg ref="httpClientFactory" />
    </bean>
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties">
            <props>
                <prop key="show_sql">true</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.jdbc.fetch_size">100</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                <prop key="hibernate.jdbc.batch_size">50</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hiberante.format_sql">true</prop>
                <prop key="hiberante.connection.autocommit">true</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://10.3.103.20:3306/bimdatas_test</prop>
                <!-- <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/bimdatas_test</prop> -->
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.my.spring.model.User</value>
                <value>com.my.spring.model.Paper</value>
                <value>com.my.spring.model.Question</value>
                <value>com.my.spring.model.Video</value>
                <value>com.my.spring.model.Message</value>
                <value>com.my.spring.model.Item</value>
                <value>com.my.spring.model.MessageFile</value>
                <value>com.my.spring.model.Building</value>
                <value>com.my.spring.model.QuestionFile</value>
                <value>com.my.spring.model.Quantity</value>
                <value>com.my.spring.model.Files</value>
                <value>com.my.spring.model.Project</value>
                <value>com.my.spring.model.MinItem</value>
                <value>com.my.spring.model.FeedBack</value>
                <value>com.my.spring.model.Duct</value>
               	<value>com.my.spring.model.DuctLog</value>
               	<value>com.my.spring.model.ValueOutput</value>
               	<value>com.my.spring.model.UserLog</value>
               	<value>com.my.spring.model.Production</value>
               	<value>com.my.spring.model.ProductionPercent</value>
               	<value>com.my.spring.model.ProjectStudy</value>
               	<value>com.my.spring.model.AdvancedOrder</value>
               	<value>com.my.spring.model.AdvancedOrderCollect</value>
               	<value>com.my.spring.model.Normativefiles</value>
               	<value>com.my.spring.model.MeasuredData</value>
               	<value>com.my.spring.model.MeasuredDatas</value>
               	<value>com.my.spring.model.HouseType</value>
               	<value>com.my.spring.model.ProjectFiles</value>
               	<value>com.my.spring.model.Folder</value>
               	<value>com.my.spring.model.SignUserInfo</value>
               	<value>com.my.spring.model.UserProject</value>
               	<value>com.my.spring.model.QualityQuestion</value>
               	<value>com.my.spring.model.Material</value>
               	<value>com.my.spring.model.MaterialLog</value>
               	<value>com.my.spring.model.Role</value>
               	<value>com.my.spring.model.UserTeam</value>
               	<value>com.my.spring.model.Department</value>
               	<value>com.my.spring.model.MenuList</value>
               	<value>com.my.spring.model.Notice</value>
               	<value>com.my.spring.model.MaterialType</value>
               	<value>com.my.spring.model.MaterialFile</value>
               	<value>com.my.spring.model.AttenceModel</value>
               	<value>com.my.spring.model.AttenceLog</value>
               	<value>com.my.spring.model.Mechanic</value>
               	<value>com.my.spring.model.MechanicPrice</value>
               	<value>com.my.spring.model.QualityFine</value>
               	<value>com.my.spring.model.SafeFine</value>
               	<value>com.my.spring.model.MaterialPlan</value>
               	<value>com.my.spring.model.Budget</value>
               	<value>com.my.spring.model.NewsInfo</value>
               	<value>com.my.spring.model.MaterialImportLog</value>
               	<value>com.my.spring.model.WorkType</value>
               	<value>com.my.spring.model.ItemData</value>
               	<value>com.my.spring.model.ProcessData</value>
               	<value>com.my.spring.model.ProcessItem</value>
               	<value>com.my.spring.model.ProcessLog</value>
               	<value>com.my.spring.model.ConstructionLog</value>
               	<value>com.my.spring.model.ConstructionTaskNew</value>
               	<value>com.my.spring.model.DepartmentUser</value>
               	<value>com.my.spring.model.NoticeRelation</value>
               	<value>com.my.spring.model.ProjectTender</value>
               	<value>com.my.spring.model.ConstructPart</value>
               	<value>com.my.spring.model.ProductionRecords</value>
               	<value>com.my.spring.model.BudgetBuilding</value>
               	<value>com.my.spring.model.ProjectOutputValue</value>
               	<value>com.my.spring.model.OutputValue</value>
               	<value>com.my.spring.model.UserMenuLog</value>
               	<value>com.my.spring.model.UserIndex</value>
               	<value>com.my.spring.model.ContractLofting</value>
               	<value>com.my.spring.model.ProjectPartContractLofting</value>
               	<value>com.my.spring.model.ProjectProcess</value>
               	<value>com.my.spring.model.ImageRecordBuildingInfo</value>
               	<value>com.my.spring.model.ImageRecord</value>
               	<value>com.my.spring.model.ItemStateLog</value>
               	<value>com.my.spring.model.ProcessDataType</value>
               	<value>com.my.spring.model.CheckLists</value>
               	<value>com.my.spring.model.Nature</value>
               	<value>com.my.spring.model.Relation</value>
               	<value>com.my.spring.model.Comment</value>
               	<value>com.my.spring.model.Reply</value>
               	<value>com.my.spring.model.ManageLog</value>
               	<value>com.my.spring.model.QualityRectification</value>  
               	<value>com.my.spring.model.QualityCheck</value>
               	<value>com.my.spring.model.AwardTicket</value>
               	<value>com.my.spring.model.AwardReadState</value>
               	<value>com.my.spring.model.QualityRectificationReadState</value>
               	<value>com.my.spring.model.QualityCheckReadState</value>
               	<value>com.my.spring.model.CheckListTypes</value>
               	<value>com.my.spring.model.BuildingOfMeasured</value>
               	<value>com.my.spring.model.MeasuredSite</value>
               	<value>com.my.spring.model.PaperOfMeasured</value>
               	<value>com.my.spring.model.PaperPointInfo</value>
               	<value>com.my.spring.model.MeasuredProblem</value>
            </list>
        </property>
    </bean>
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://10.3.103.20:3306/bimdatas_test?characterEncoding=utf-8" />
        <!-- <property name="url" value="jdbc:mysql://localhost:3306/bimdatas_test?characterEncoding=utf-8" /> -->
        <property name="username" value="root" />
        <property name="password" value="108158" />
    </bean>
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
</beans>