
<div id="projectDetail">
	<div style="display:none"><span>{{projectTitle}}</span></div>
	<input type="hidden" ng-model="projectid"/>
	<div id="project_body">
		<div ng-include="'page/project/html/projectSelfInfo.html'" id="projectSelfInfoAdd" style="margin-top:15px;"></div>
		<div ng-include="'page/project/html/uploadProjectItem.html'"  id="projectItemInfoAdd" style="margin-top:15px;display:none" ></div>
		<div ng-include="'page/project/html/uploadProjectPaper.html'"  id="projectPaperInfoAdd" style="margin-top:15px;display:none" ></div>
		<div ng-include="'page/project/html/uploadProjectVideo.html'"  id="projectVideoInfoAdd" style="margin-top:15px;display:none" ></div>
		<a href=""><div id="uploadVideoBottom" ng-click="returnProject()"><span>返回项目列表</span></div></a>
	</div>
</div>
