<div id="projectContent" ng-controller="FeedbackController">
	<div id="include_header" style="display:block;padding-bottom:20px;">
	    	
	        	<div id="projectnames">
	     			<span class="inputtext">&nbsp用户名:</span><input type="text" id="projectName" ng-model="feedbackTofind.userName"/>
	            	<span class="inputtext">&nbsp内容:</span><input type="text" id="projectNum" ng-model="feedbackTofind.content"/>
	                <span class="inputtext">&nbsp时间:</span><input type="text" id="constructionUnit" ng-model="feedbackTofind.date"/>
	                <a href=""><button id="find" ng-click="feedbackFind()" ></button></a>
	            </div>
	           
	</div>
	<div class="container" style="display:block;margin-top:30px;" id="containers">
		<div id="xuanzequ">
			<button id="all_choice" ng-click="set_checkboxall('include_bodys')"><span>全选</span></button>
			<button id="all_delete" ng-click="delete_choice('include_bodys')"><span>删除</span></button>
		</div>
		
		<div id="include_bodys">
			<table class="table-striped table table-bordered">
				<tbody>
					<tr>
						<th ng-repeat="feedbackTitle in feedbackTitles" style="text-align:center;">{{feedbackTitle}}</th>
					</tr>
					<tr ng-repeat = "feedback in feedbackList">
					    <td style="width:10px;text-align:center;">{{$index+1}}</td>
					    <td style="width:80px;text-align:center;">{{feedback.realName}}</td>
					    <td style="width:500px;text-align:center;">{{feedback.content}}</td>
					    <td style="width:150px;text-align:center;">{{feedback.date}}</td>
					    <td style="width:80px;text-align:center;"> 
					    	<button id="deletebutton" ng-click="deleteFeedback(feedback.id)">
		                    </button>
		                    <input type="checkbox" ng-click="setFeedbackId(feedback.id)" class="checkBoxItem">
                        </td>
					</tr>
				</tbody>
			</table>
			<div id="table-buton1" >
				<div id="feedbackPageCode"></div>
			</div>
		</div>
	</div>		
</div>
