<div ng-controller="HeaderController">
  <nav class="navbar">
	 
	 	<div id="head_div" class="collapse navbar-collapse navbar-left navbar-inverse navbar-fixed-top"> 
		 	<div class="container">
			 	<div id="content">
		 			<div id="imagelogo">
						<img src="page/project/images/logo.png" id="logo" id="logo"/>
					</div>
			 		<ul class="nav navbar-nav">
		                    <li class= "collapse-li-main" ng-repeat="headerItem in headerItems">
		                    	<a ng-click="goPage(headerItem.page,$index)"id="menutext">{{headerItem.name}}</a>
		                    </li>
		            </ul>
		             <div id="portrait">
							<a href="#"><img src="{{userIcon}}" id="portrait_image"/></a><span style="font-size:25px;">{{userName}}</span><a href="" ng-click="logout()" style="font-size:23px;margin-left:5px;color:white;" class="glyphicon glyphicon-off" id="out_login"></a>
				    </div>
			 	</div>
		 	</div>
	 	</div>
	 </nav> 
</div> 
 