	<script>
		var total = 21;
		var sizePerPage = 5;
		var totalPage = Math.ceil(total/sizePerPage);
		var arr = new Array();
		for(var i = 0; i < totalPage; i++) {
			arr[i] = new Array();
			for(var j = 0; j < 5; j++) {
				if(i*5+(j+1) <= total) {
					arr[i][j] = i*5+(j+1);
				} else {
					break;
				}
			}
		}
		console.log(arr);
	</script>
<div id="itemContent">
	<div id="projectDetail_body_item">
				<div id="item_menu">
					<div id="item_menuli_first">
						<div><span>专业</span></div>
						<div><button class="btn btn-default" ng-click="setzhuanye('all')">全部</button></div>
						<div ng-repeat="phase in projectPhaseInfo"><button class="btn btn-default" ng-click="setzhuanye(phase.name)">{{phase.name}}</button></div>
					</div>
					<div class="item_menuli">
						<div><span>栋号</span></div>
						<div><button class="btn btn-default">全部</button></div>
						<div ng-repeat="buildingNumber in buildingArray">
							<select class="myselect" type="text" ng-change="test(building[$index])"  ng-model="building[$index]">
		    					<option value="title" selected="selected">#{{$index*5+1}} -#{{$index*5+5}}</option>
		    					<option value="{{number}}" ng-repeat=" number in buildingNumber">#{{number}}</option>
		    				</select>
	    				</div>
						
					</div>
					<div class="item_menuli">
						<div><span>楼层</span></div>
						<div><button class="btn btn-default">全部</button></div>
						<div ng-repeat="buildingDown in buildingDownArray[0]"><button class="btn btn-default" >B{{buildingDown}}</button></div>
						<div ng-repeat="floorNumber in floorArray">
							<select class="myselect" type="text" ng-change="test(floors[$index])"  ng-model="floors[$index]">
		    					<option value="title" selected="selected">F{{$index*5+1}} -F{{$index*5+5}}</option>
		    					<option value="{{numbers}}" ng-repeat=" numbers in floorNumber">F{{numbers}}</option>
		    				</select>
	    				</div>
						
					</div>
					<div class="item_menuli">
						<div><span>户型</span></div>
						<div><button class="btn btn-default">全部</button></div>
						<div ng-repeat="household in projectHouseholdInfo"><button class="btn btn-default">{{household.name}}</button></div>
					</div>
				</div>
				<div id="item_content">
					<table class="table-striped table table-bordered">
						<tbody>
							<tr>
							<th ng-repeat="itemTitle in itemTitles">{{itemTitle}}</th>
						</tr>
						<tr ng-repeat = "projectItem in projectItemList">
						    <td>{{$index+1}}</td>
							<td>{{projectItem.name}}</td>
							<td>{{projectItem.bottomElevation}}</td>
							<td>{{projectItem.systemType}}</td>
							<td>{{projectItem.size}}</td>
							<td>{{projectItem.length}}</td>
							<td>{{projectItem.serviceType}}</td>
							<td>{{projectItem.familyAndType}}</td>
							<td>{{projectItem.level}}</td>
							<td>{{projectItem.offset}}</td>
							<td>{{projectItem.area}}</td>
							<td>{{projectItem.material}}</td>
							<td>{{projectItem.typeName}}</td>
							<td class="tds" >
		                        <button id="editbutton" ng-click="projectChangeClick(projectInfo.id)">
		                        </button>
		                        <button id="deletebutton" ng-click="deleteProject(projectInfo.id)">
		                        </button>
		                    </td>
						</tr>
						</tbody>
					</table>
					<div id="table-buton" >
						<div id="itemPageCode"></div>
					</div>
				</div>
	</div>
</div>