<div id="selfContent">
	<div id="projectDetail_body_self">
		<div>
				<div id="self_menu">
					<div id="selfli">
						<div class="selfli_text"><span>工程名称:</span></div>
						<div class="projectInfoContent"><input type="text" ng-model="$parent.$parent.findProjectInfo.name" class="projectInfoContentInput"/></div>
					</div>
					<div id="selfli">
						<div class="selfli_text"><span>工程编码:</span></div>
						<div class="projectInfoContent"><input type="text" ng-model="$parent.$parent.findProjectInfo.num" class="projectInfoContentInput"/></div>
					</div>
					<div id="selfli">
						<div class="selfli_text"><span>施工单位:</span></div>
						<div class="projectInfoContent"><input type="text" ng-model="$parent.$parent.findProjectInfo.constructionUnit" class="projectInfoContentInput"/></div>
					</div>
					<div id="selfli">
						<div class="selfli_text"><span>项目负责人:</span></div>
						<div class="projectInfoContent"><input type="text" ng-model="$parent.$parent.findProjectInfo.leader" class="projectInfoContentInput"/></div>
					</div>
					<div id="selfli">
						<div class="selfli_text"><span>施工地点:</span></div>
						<div class="projectInfoContent"><input type="text" ng-model="$parent.$parent.findProjectInfo.place" class="projectInfoContentInput"/></div>
					</div>
					<div id="selfli">
						<div class="selfli_text"><span>建设单位:</span></div>
						<div class="projectInfoContent"><input type="text" ng-model="$parent.$parent.findProjectInfo.buildingUnit" class="projectInfoContentInput"/></div>
					</div>
					<div id="selfli">
						<div class="selfli_text"><span>设计单位:</span></div>
						<div class="projectInfoContent"><input type="text" ng-model="$parent.$parent.findProjectInfo.designUnit" class="projectInfoContentInput"/></div>
					</div>
					<div id="selfli">
						<div class="selfli_text"><span>施工时间:</span></div>
						<div class="projectInfoContent"><input type="text" ng-model="$parent.$parent.findProjectInfo.startDate" class="projectInfoContentInput"/></div>
					</div>
					<div id="selfli">
						<div class="selfli_text"><span>施工周期:</span></div>
						<div class="projectInfoContent"><input type="text" ng-model="$parent.$parent.findProjectInfo.phase" class="projectInfoContentInput"/></div>
					</div>
					<div id="selfli">
						<div class="selfli_text"><span>班组:</span></div>
						<div class="projectInfoContent"><input type="text" ng-model="$parent.$parent.findProjectInfo.teamList" class="projectInfoContentInput"/></div>
					</div>
					<div id="selfli">
						<div class="selfli_text"><span>模型标志信息:</span></div>
						<div class="projectInfoContent"><input type="text" ng-model="$parent.$parent.findProjectInfo.modelPart" class="projectInfoContentInput"/></div>
					</div>
					<div id="selfli">
						<div class="selfli_text"><span>版本:</span></div>
						<div class="projectInfoContent"><input type="text" ng-model="$parent.$parent.findProjectInfo.version" class="projectInfoContentInput"/></span></div>
					</div>
					<div id="selfli">
						<div class="selfli_text"><span>状态:</span></div>
						<select type="text" ng-model="$parent.$parent.findProjectInfo.state" id="inputstate">
							<option value="0"><span>未上线</span></option>
							<option value="1"><span>已上线</span></option>
        				</select>
					</div>
					<div id="selfli">
						<div class="selfli_text"><span>项目工程简介:</span></div>
						<div id="projectInfoDesc"><textarea id="projectInfoDescInput" ng-model="$parent.$parent.findProjectInfo.description"
						 onBlur="if(this.innerHTML==''){this.innerHTML='限1000字';}" onFocus="if(this.innerHTML=='限1000字'){this.innerHTML='';}"></textarea></div>
					</div>
					<div id="selfliModel" >
						<div class="selfli_text"><span>项目模型:</span></div>
						<div class="projectfile"><input type="file" id="testfile" onchange="setModel(this)" multiple="multiple"/></div>
					</div>
					<div id="selfliPic" >
						<div class="selfli_text"><span>图片上传:</span></div>
						<div class="projectfile"><input type="file" id="picFile" onchange="setPic(this)" multiple="multiple" accept="image/jpg,img/png"/></div>
						<img width="100px" height="90px" src="{{$parent.$parent.findProjectInfo.picUrl}}"  id="showId" />
					</div>
				</div>
				
		</div>
		<div id="selfAdd">
	            	<input type="button" ng-click="addProjectByAdmin()"  class="btn btn-default" value="确定" />
	                <input type="button" ng-click="resetProject()" class="btn btn-default" value="重置" />
    	</div>
    	
	</div>
</div>
