<div id="videoContent">
	<div id="projectDetail_body_videos">
		<div id="video_menu">
			<div id="video_contents">
				<div id="item_menuli_first">
					<div><span>类型</span></div>
					<div><button class="btn btn-default" ng-click="setPhase('all',flag[4])">全部</button></div>
					<div ng-repeat="phase in projectVideoType"><button class="btn btn-default" ng-click="setPhase($index,flag[4])">{{phase.name}}</button></div>
				</div>
				<div class="item_menuli_video">
					<div><span>栋号</span></div>
					<div><button class="btn btn-default" ng-click="setBuildingNum('all',flag[4])">全部</button></div>
					<div ng-repeat="buildingNumber in buildingArray">
						<select class="myselect" type="text" ng-change="setBuildingNum(building[$index],flag[4])"  ng-model="building[$index]">
	    					<option value="title" >#{{$index*10+1}} -#{{$index*10+10}}</option>
	    					<option value="{{number}}" ng-repeat="number in buildingNumber" >#{{number}}</option>
	    				</select>
    				</div>
				</div>
			</div>
			<div id="video_buttons">
				<div id="video_content">
					<table class="table-striped table table-bordered">
						<tbody>
							<tr>
								<th ng-repeat="videoTitle in videoTitles">{{videoTitle}}</th>
							</tr>
							<tr ng-repeat = "projectVideo in videoList">
							    <td>{{$index+1}}</td>
							    <!-- <td>{{projectVideo.name}}</td> -->
								<td>{{projectVideo.originName}}</td>
								<td>{{projectVideo.buildingNum}}</td>
								<td>{{projectVideoType[projectVideo.professionType].name}}</td>
								<!-- <td><video src="{{projectVideo.url}}" controls="controls" width="200px;" height="150px;"></video></td> -->
								<td class="tds" >
			                        <a href="{{projectVideo.url}}" target="_blank" download="{{projectVideo.originName}}">
				                         <button id="uploadbutton">
			                        	</button>
			                        </a>
			                        <button id="deletebutton" ng-click="deleteVideo(projectVideo.id,projectVideo.fileId)">
			                        </button>
			                    </td>
							</tr>
						</tbody>
					</table>
					<div id="quantityAction">
							<div id="quantityImport">
								<div id="process" style="display:none;width:1024px;text-align:left;">
									<progress id="progressBar" value="0" max="100" style="width: 300px;"></progress>
		    						<span id="percentage"></span><span id="time"></span>
		    						<br /><br />
	    						</div>
								<div id="imgBiangen"><a href="#" id="quantity_button" ng-click="UpladFile('video')">交底上传</a></div>
								<div id="biangeng_file"><input type="file" id="video_import" multiple="multiple"/></div>
								<div id="video_type">
									<select id="video_type" class="myselect" ng-model="videoTypes" ng-change="setVideoType(this)">
										<option value="0" selected = "selected">质量</option>
										<option value="1">安全</option>
										<option value="2">技术</option>
									</select>
								</div>
    							<div id="video_type">
									<select id="video_type2" class="myselect" ng-model="videoFiles" ng-change="setFileType(this)">
										<option value="0" selected = "selected">视频</option>
										<option value="1">pdf</option>
										<option value="2">word</option>
									</select>
								</div>
								<div id="video_type">
									<select id="video_type2" class="myselect" ng-model="videoGrade" ng-change="setVideoGrade(this)">
										<option value="0" selected = "selected">公司总交底</option>
										<option value="1">项目交底</option>
										<option value="2">留底资料</option>
										<option value="3">通用交底</option>
									</select>
								</div>
							</div>
					</div>
					<div id="table-buton5" >
						<div id="videoPageCode"></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
