
<div id="questionContents" ng-controller="QuestionController">
	<div ng-include="'page/project/html/addQuestion.html'" style="display:none; z-index:1;margin:0 auto;" id="addQuestionHtml"></div>
	<div ng-include="'page/project/html/detailQuestion.html'" style="display:none; z-index:1;margin:0 auto;" id="detailQuestionHtml"></div>

	<div id="projectDetail_body_questions" style="display:block">
	    <div id="questionList_head" style="position:relative; z-index:1;display:block">
	    	<div id="question_select">
	    		<div id="select_content">
	    		    <a href="#">
		    			<div class="li_head" ng-click="showProjects()">
		    				<div class="li_title">项目</div>
		    				<div class="li_icon_project"></div>
		    			</div>
	    			</a>
	    			<a href="#">
		    			<div class="li_head" ng-click="showQuestionType()">
		    				<div class="li_title">类型</div>
		    				<div class="li_icon_type"></div>
		    			</div>
	    			</a>
	    			<a href="#">
		    			<div class="li_head" ng-click="showQuestionPority()">
		    				<div class="li_title">程度</div>
		    				<div class="li_icon_pority"></div>
		    			</div>
	    			</a>
	    			<a href="#">
		    			<div class="li_head" ng-click="showQuestionStatu()">
		    				<div class="li_title">状态</div>
		    				<div class="li_icon_statu"></div>
		    			</div>
	    			</a>
	    			<div style="display:none" id="questionOfProject">
		    			<ul>
		    				<li ng-repeat="projectItem in projectLists"><a href="#" ng-click="setProjectName(projectItem.id)">{{projectItem.name}}</a></li>		    				
		    			</ul>
	    			</div>
	    			
	    			<div style="display:none" id="questionOfType">
		    			<ul>
		    				<li ng-repeat="type in projectQuestionOfType"><a href="#" ng-click="setQuestionType($index)">{{type.name}}</a></li>
		    			</ul>
	    			</div>
	    			<div style="display:none" id="questionOfPority">
		    			<ul>
		    				<li ng-repeat="pority in projectQuestionOfPriority"><a href="#" ng-click="setQuestionPority($index)">{{pority.name}}</a></li>
		    				
		    			</ul>
	    			</div>
	    			<div style="display:none" id="questionOfStatu">
	    				<ul>
		    				<li ng-repeat="statu in projectQuestionOfStatus"><a href="#" ng-click="setQuestionStatu($index)">{{statu.name}}</a></li>
	    				</ul>
	    			</div>
	    		</div>
	    	</div>
	    	<div id="question_find">
	    		<div id="findTitle">
	    			<div><input type="text" id="paperList_find"  onfocus="javascript:if(this.value=='搜索')this.value='';"></div>
	    		</div>
	    		<a href="#" ng-click="search()">
	    			<div id="findIcon" class="glyphicon glyphicon-search" style="font-size:25px"></div>
	    		</a>
	    	</div>
	    </div>
	    <div id="question_table_head" style="position:relative; z-index:0;display:block">
			    	<div id="addQuestionTitle">
			    		<div id="addQuestionLi"><span>问题列表</span></div>
			    		<div ng-click="showAddQuestionHtml()">
				    		<div id="addQuestionIcon" class="glyphicon glyphicon-plus" style="color:green;font-size:25px;"></div>
				    		<div id="addQuestionText"><span>新建</span></div>
			    		</div>
			    	</div>
			    		<div id="questionData"><span>统计数据</span></div>
			    	</div>
		<div id="questionList_content">
			<div id="table_content">
				<table class="table-striped table table-bordered">
					<tbody>
						<tr>
							<th ng-repeat="questionTitle in questionTitles">{{questionTitle}}</th>
						</tr>
						<tr ng-repeat = "question in questionList">
						    <td>{{$index+1}}</td>
							<td>{{projectQuestionOfType[question.questionType].name}}</td>
							<td>{{question.userId}}</td>
							<td>{{question.name}}</td>
							<td>{{question.trades}}</td>
							<!-- <td>{{question.intro}}</td> -->
							<td>{{question.questionDate}}</td>
							<td>{{projectQuestionOfPriority[question.priority].name}}</td>
							<td>{{projectQuestionOfStatus[question.state].name}}</td>
							<td class="tds">
								<button id="statebutton" ng-click="questionStateChange(question.id,question.state)">
		                        </button>
		                        <button id="editbutton" ng-click="questionChangeClick(question.id)">
		                        </button>
		                        <button id="deletebutton" ng-click="deleteQuestion(question.id)">
		                        </button>
	                            
		                    </td>
						</tr>
					</tbody>
				</table>
				<div id="table-buton10" >
					<div id="questionsPageCode"></div>
				</div>
			</div>
			<div id="dataShow" >
				<div id="myStat" data-dimension="180"  data-text="" data-info="一般" data-width="30" data-fontsize="38" data-percent="" data-fgcolor="#F55852" data-bgcolor="#FDD4D2" data-fill="#ddd">
				</div>
				<div id="myStat1" data-dimension="180"  data-text="" data-info="重要" data-width="30" data-fontsize="38" data-percent="" data-fgcolor="#FDDA3D" data-bgcolor="#FBF9E6" data-fill="#ddd">
				</div>
				<div id="myStat2" data-dimension="180"  data-text="" data-info="紧急" data-width="30" data-fontsize="38" data-percent="" data-fgcolor="#9DED55" data-bgcolor="#E5FFD1" data-fill="#ddd">
				</div>
			</div>
		</div>		
	</div>
</div>

<script>

	/* $('#myStat').circliful();
 	 $('#myStat1').circliful();
    $('#myStat2').circliful(); */
</script>


