	<script>
		var total = 21;
		var sizePerPage = 5;
		var totalPage = Math.ceil(total/sizePerPage);
		var arr = new Array();
		for(var i = 0; i < totalPage; i++) {
			arr[i] = new Array();
			for(var j = 0; j < 5; j++) {
				if(i*5+(j+1) <= total) {
					arr[i][j] = i*5+(j+1);
				} else {
					break;
				}
			}
		}
		console.log(arr);
	</script>
<div id="itemContent">
	<div id="projectDetail_body_item">
				<div id="item_menu">
					<div id="item_menuli_first">
						<div><span>专业</span></div>
						<div><button class="btn btn-default">全部</button></div>
						<div ng-repeat="phase in projectPhaseInfo"><button class="btn btn-default">{{phase.name}}</button></div>
					</div>
					<div class="item_menuli">
						<div><span>栋号</span></div>
						<div><button class="btn btn-default">全部{{userType}}</button></div>
						<div ng-repeat="buildingNumber in buildingArray">
							<select class="myselect" type="text" ng-model="userType">
		    					<option value="#1 - #5" selected="selected">#{{$index*5+1}} -#{{$index*5+5}}</option>
		    					<option value="1" ng-repeat=" number in buildingNumber">#{{number}}</option>
		    				</select>
	    				</div>
						
					</div>
					
				</div>
	</div>
</div>