<div id="videoContent">
	<div id="projectDetail_body_video">
				<div id="video_menu">
					<div id="paper_contents">
						<div id="paperlist">
							<div><span>电气专业&nbsp&nbsp&nbsp</span></div>
							<div><input type="file" id="video_dianqi" /></div>
						</div>
						<div id="paperlist">
							<div><span>暖通专业&nbsp&nbsp&nbsp</span></div>
							<div><input type="file" id="video_nuantong" /></div>
						</div>
						<div id="paperlist">
							<div><span>给排水专业</span></div>
							<div><input type="file" id="video_geipaishui" /></div>
						</div>
						<div id="paperlist">
							<div><span>消防专业&nbsp&nbsp&nbsp</span></div>
							<div><input type="file" id="video_xiaofang" /></div>
						</div>
					</div>
					<div id="paper_button">
						<button type="button" class="btn btn-default" ng-click="uploadVideoFile()">上传</button>
						<button type="button" class="btn btn-default" ng-click="resetVideoFile()">取消</button>
					</div>
				</div>
				<a href=""><div id="uploadVideoBottom" ng-click="returnProject()"><span>返回项目列表</span></div></a>
	</div>
</div>