<div id="videoContent">
	<div id="projectDetail_body_video">
				<div id="video_menu">
					<div id="paper_contents">
						<div id="paperlist">
							<div><span>质量&nbsp&nbsp&nbsp</span></div>
							<div><span>类型：</span><select class="geipaishui_type"><option value="0">视频</option><option value="1">pdf文档</option></select></div>
							<div><input type="file" id="video_zhiliang" accept=".mp4,.avi,.doc,.docx,.pdf"/></div>
						</div>
						<div id="paperlist">
							<div><span>安全&nbsp&nbsp&nbsp</span></div>
							<div><span>类型：</span><select class="geipaishui_type"><option value="0">视频</option><option value="1">pdf文档</option></select></div>
							<div><input type="file" id="video_anquan" accept=".mp4,.avi,.doc,.docx,.pdf"/></div>
						</div>
						<div id="paperlist">
							<div><span>技术</span></div>
							<div><span>类型：</span><select class="geipaishui_type"><option value="0">视频</option><option value="1">pdf文档</option></select></div>
							
							<div><input type="file" id="video_jishu" accept=".mp4,.avi,.doc,.docx,.pdf"/></div>
						</div>
					</div>
					<div id="paper_button">
						<button type="button" class="btn btn-default" ng-click="uploadVideoFile()">上传</button>
						<button type="button" class="btn btn-default" ng-click="resetVideoFile()">取消</button>
					</div>
				</div>
				
	</div>
</div>