<div id="selfContent">
	<div id="projectDetail_itemupload">
		<div class="uploadMenuHead">
				<div class="phaseTitle"><span>电气专业</span></div>
				<div class="uploadText">
					<div class="uploadTitle"><span>电缆桥架：</span></div>
					<div><input type="file" id="qiaojia" accept=".xls,.xlsx" /></div>
					<div class="uploadTitle"><span>电缆桥架配件：</span></div>
					<div><input type="file" id="qiaojia_fujian" accept=".xls,.xlsx" /></div>
					<div class="uploadTitle"><span>电气设备：</span></div>
					<div><input type="file" id="dianqi_shebei" accept=".xls,.xlsx" /></div>
				</div>
		</div>
		<div class="uploadMenu">
				<div class="phaseTitle"><span>暖通专业</span></div>
				<div class="uploadText">
					<div class="uploadTitle"><span>风管：</span></div>
					<div><input type="file" id="fengguan" accept=".xls,.xlsx"/></div>
					<div class="uploadTitle"><span>风管配件：</span></div>
					<div><input type="file" id="fengguan_peijian" accept=".xls,.xlsx"/></div>
					<div class="uploadTitle"><span>风管附件：</span></div>
					<div><input type="file" id="fengguan_fujian" accept=".xls,.xlsx"/></div>
					<div class="uploadTitle"><span>风管末端：</span></div>
					<div><input type="file" id="fengguan_moduan" accept=".xls,.xlsx"/></div>
					<div class="uploadTitle"><span>机械设备：</span></div>
					<div><input type="file" id="jixie_shebei" accept=".xls,.xlsx"/></div>
				</div>
		</div>
		<div class="uploadMenu">
				<div class="phaseTitle"><span>给排水专业</span></div>
				<div class="uploadText">
					<div class="uploadTitle"><span>管道：</span></div>
					<div><input type="file" id="guandao"accept=".xls,.xlsx" /></div>
					<div class="uploadTitle"><span>管件：</span></div>
					<div><input type="file" id="guanjian" accept=".xls,.xlsx" /></div>
					<div class="uploadTitle"><span>管道附件：</span></div>
					<div><input type="file" id="guandao_fujian" accept=".xls,.xlsx" /></div>
					<div class="uploadTitle"><span>卫浴装置：</span></div>
					<div><input type="file" id="weiyu_zhuangzhi" accept=".xls,.xlsx" /></div>
				</div>
					<!-- <div><span>机械设备：</span></div> -->
		

					<!-- <div><input type="file" id="jixie_shebeis"></div> -->

		</div>
		<div class="uploadMenu_xiaofang">
				<div class="phaseTitle"><span>消防专业</span></div>
				<div class="uploadText">
					<div class="uploadTitle"><span>消防栓：</span></div>
					<div><input type="file" id="xiaofangshuan" accept=".xls,.xlsx"/></div>
					<div class="uploadTitle"><span>喷淋：</span></div>
					<div><input type="file" id="penlin" accept=".xls,.xlsx"/></div>
				</div>
		</div>
		<div class="uploadMenu_quantity">
				<div id="itemupload">
	            	<input type="button" ng-click="uploadItemFile()" class="btn btn-default" value="确定" />
	                <input type="button" ng-click="resetItemFile()" class="btn btn-default" value="重置" />
    			</div>
		</div>
		
	</div>
	
</div>