<div id="selfContent">
	<div id="projectDetail_itemupload">
		<div class="uploadMenuHead">
				<div class="phaseTitle"><span>电气专业</span></div>
				<div class="uploadText">
					<div class="uploadTitle"><span>电缆桥架：</span></div>
					<div><input type="file" id="qiaojia" /></div>
					<div class="uploadTitle"><span>电缆桥架配件：</span></div>
					<div><input type="file" id="qiaojia_fujian" /></div>
					<div class="uploadTitle"><span>电气设备：</span></div>
					<div><input type="file" id="dianqi_shebei" /></div>
				</div>
		</div>
		<div class="uploadMenu">
				<div class="phaseTitle"><span>暖通专业</span></div>
				<div class="uploadText">
					<div class="uploadTitle"><span>风管：</span></div>
					<div><input type="file" id="fengguan" /></div>
					<div class="uploadTitle"><span>风管配件：</span></div>
					<div><input type="file" id="fengguan_peijian" /></div>
					<div class="uploadTitle"><span>风管附件：</span></div>
					<div><input type="file" id="fengguan_fujian" /></div>
					<div class="uploadTitle"><span>风管末端：</span></div>
					<div><input type="file" id="fengguan_moduan" /></div>
					<div class="uploadTitle"><span>机械设备：</span></div>
					<div><input type="file" id="jixie_shebei" /></div>
				</div>
		</div>
		<div class="uploadMenu">
				<div class="phaseTitle"><span>给排水专业</span></div>
				<div class="uploadText">
					<div class="uploadTitle"><span>管道：</span></div>
					<div><input type="file" id="guandao"></div>
					<div class="uploadTitle"><span>管件：</span></div>
					<div><input type="file" id="guanjian"></div>
					<div class="uploadTitle"><span>管道附件：</span></div>
					<div><input type="file" id="guandao_fujian"></div>
					<div class="uploadTitle"><span>卫浴装置：</span></div>
					<div><input type="file" id="weiyu_zhuangzhi"></div>
				</div>
					<!-- <div><span>机械设备：</span></div> -->
		

					<!-- <div><input type="file" id="jixie_shebeis"></div> -->

		</div>
		<div class="uploadMenu_xiaofang">
				<div class="phaseTitle"><span>消防专业</span></div>
				<div class="uploadText">
					<div class="uploadTitle"><span>消防栓：</span></div>
					<div><input type="file" id="xiaofangshuan"/></div>
					<div class="uploadTitle"><span>喷淋：</span></div>
					<div><input type="file" id="penlin"/></div>
				</div>
		</div>
		<div class="uploadMenu_quantity">
				<div class="phaseTitle"><span>工程量</span></div>
				<div class="uploadText">
					<div class="uploadTitle"><span>工程量：</span></div>
					<div>
						<input type="file" id="gongchengliang" />
					</div>
				</div>
				<div id="itemupload">
	            	<input type="button" ng-click="" class="btn btn-default" value="确定" />
	                <input type="button" ng-click="resetItemFile()" class="btn btn-default" value="重置" />
    			</div>
		</div>
		
	</div>
	
</div>