<div id="paperContent">
	<div id="projectDetail_paperupload">
				<div id="paper_headerss">
					<div class="paper_menuli_upload">
						<div><span>栋号</span></div>
						<div>
							<select  id="buildingN">
								<option value="{{$index}}" ng-repeat="x in buildingNumArrays">{{x}}</option>
		    				</select>
	    				</div>
						
					</div>
					<div class="paper_menuli_upload">
						<div><span>楼层</span></div>
						<div>
							<select id="floorN">
								<option value="{{$index}}" ng-repeat="y in floorNumArrays">{{y}}</option>
								
		    				</select>
	    				</div>
					</div>	
					
				</div>
				<div id="paper_contents">
					<div id="paperlist">
						<div><span>电气专业&nbsp&nbsp&nbsp</span></div>
						<div><input type="file" id="paper_dianqi" accept=".jpg,.jpeg,.pdf" /></div>
					</div>
					<div id="paperlist">
						<div><span>暖通专业&nbsp&nbsp&nbsp</span></div>
						<div><input type="file" id="paper_nuantong" accept=".jpg,.jpeg,.pdf" /></div>
					</div>
					<div id="paperlist">
						<div><span>给排水专业</span></div>
						<div><input type="file" id="paper_geipaishui" accept=".jpg,.jpeg,.pdf" /></div>
					</div>
					<div id="paperlist">
						<div><span>消防专业&nbsp&nbsp&nbsp</span></div>
						<div><input type="file" id="paper_xiaofang" accept=".jpg,.jpeg,.pdf" /></div>
					</div>
				</div>
				<div id="paper_button">
					<button type="button" class="btn btn-default" ng-click="uploadPaperFile()">上传</button>
					<button type="button" class="btn btn-default" ng-click="resetPaperFile()">取消</button>
				</div>
	</div>
</div>