<div ng-controller="UserController">
<div ng-include="'page/project/html/addUser.html'" style="display:none;position:absolute;z-index:2;" id="addUserHtml"></div>
<div id="content">
	<div id="include_header">
    	
        	<div id="usernames">
     			<span class="inputtext">用户名</span><input type="text" id="usernamess" ng-model="userTofind.userName"/>
            	<span class="inputtext">真实姓名</span><input type="text" id="nickname" ng-model="userTofind.realName"/>
                <span class="inputtext">邮箱地址</span><input type="text" id="adress" ng-model="userTofind.email" />
                <span class="inputtext">手机号码</span><input type="text" id="mobile" ng-model="userTofind.tel"/>
                <button id="find" ng-click="find()" value=""></button>
                <button id="add"  ng-click="showaddUser()"><span id="findtext">添加用户</span></button>
            </div>        
    </div>
	<div class="container">
		<div id="include_bodys">
			<table class="table-striped table table-bordered">
				<tbody>
					<tr>
						<th ng-repeat="userTitle in userTitles">{{userTitle}}</th>
	
					</tr>
					<tr ng-repeat = "userInfo in userList">
						<td>{{$index+1}}</td>
						<!-- <td>{{userInfo.id}}</td> -->
						<td>{{userInfo.userName}}</td>
						<td>{{userInfo.realName}}</td>
						<td class="usericon"><img width="100px" height="90px"  src="{{userInfo.userIconUrl}}" /></td>
						<td>{{roleList[userInfo.userType].name}}</td>
						<td>{{userInfo.email}}</td>
						<td>{{userInfo.tel}}</td>
						<td>{{userInfo.registerDate}}</td>
						<td class="tds" >
	                        <button id="editbutton" ng-click="userChangeClick(userInfo.id)">
	                        </button>
	                        <button id="deletebutton" ng-click="deleteUser(userInfo.id)">
	                        </button>
	                    </td>
					</tr>
				</tbody>
			</table>
			<div id="table-buton" >
				<div id="userPageCode"></div>
			</div>
		</div>
		
	</div>
</div>
</div>